@media (min-width: 376px) {
  #tools-flex {
    flex-direction: column;
    gap: 40px;
    padding: 3rem;
  }
}

@media (min-width: 576px) {
  #tools-flex {
    flex-direction: row;
  }
}

@media (min-width: 768px) {
  #tools-flex {
    flex-direction: row;
  }
}

@media (min-width: 992px) {
  #tools-flex {
    flex-direction: row;
  }
}

@media (min-width: 1200px) {
  #tools-flex {
    flex-direction: row;
  }
}

@media (min-width: 1400px) {
  #tools-flex {
    flex-direction: row;
  }
}

body {
  margin: 0;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navbar {
  box-shadow: none !important;
}

text-align {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.bg-image {
  height: inherit;
}

.image-cards {
  max-width: -webkit-fill-available;
  height: -webkit-fill-available;
  max-width: fit-content;
}

#cluster-container {
  max-width: -webkit-fill-available;
}

#contact-container {
  max-width: initial;
  max-height: 400px;
}

#cluster-img {
  width: -webkit-fill-available;
}

#tools-flex {
  padding: 0.75rem;
}

#news-underline {
  /* padding-top: 2rem; */
  border-bottom: 1px solid black;
}

#logo-img {
  max-width: -webkit-fill-available;
  height: 60px;
}

#logokmutt-img {
  max-width: -webkit-fill-available;
  height: 80px;
}

#carousel-nav {
  margin-top: -91px;
  z-index: -1;
}

#greyscale-img {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

#footer-bg {
  background-color: #1e1e1e;
}

.css-18sg6k4-MuiPaper-root-MuiDrawer-paper {
  background-color: rgba(255, 255, 255, 0.75) !important;
  height: 450px !important;
}

.menu-row {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  height: -webkit-fill-available;
  text-align: center;
}

.css-6hp17o-MuiList-root-MuiMenu-list {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.carousel-indicators [data-mdb-target] {
  height: 0.5rem !important;
  width: 0.5rem !important;
  border-radius: 50%;
  background-color: rgb(176, 176, 176) !important;
}

a:hover {
  color: white;
}

.image-container {
  position: relative;
  display: inline-block;
}

.image-container img {
  filter: grayscale(100%);
  transition: filter 0.5s ease-in-out;
}

.image-container:hover img {
  filter: grayscale(0%);
}

.image-container .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  /* background-color: ); */
  background-color: "rgba(251, 251, 251, 0.2)";
}

.image-container:hover .overlay {
  opacity: 1;
}

.navlink-color {
  color: inherit !important;
}

.page-item {
  padding: 0 5px;
}

.css-r8u8y9 {
  padding: 0px !important;
}

/* #main-container {
  max-width: auto;
} */

@tailwind components;
@tailwind utilities;
