@font-face {
  font-family: "FontLight";
  src: url("./Fonts/Anakotmai-Light.ttf") format("truetype");
  font-style: light;
}

@font-face {
  font-family: "FontMedium";
  src: url("./Fonts/Anakotmai-Medium.ttf") format("truetype");
  font-style: medium;
}

@font-face {
  font-family: "MyFont";
  src: url("./Fonts/Anakotmai-Bold.ttf") format("truetype");
  font-style: bold;
}

@font-face {
  font-family: "Roboto";
  src: url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
}

body {
  /* width: fit-content; */
  font-family: "Roboto", sans-serif;
}

.p-6 {
  padding: 4rem !important;
}

.pt-5 {
  padding-top: 3rem !important;
}

.pt-6 {
  padding-top: 4rem !important;
}

.pb-6 {
  padding-top: 2rem !important;
}

.g-6 {
  --mdb-gutter-x: 4.5rem !important;
}

.px-7 {
  padding-left: 5.5rem;
  padding-right: 5.5rem;
}

@media (min-width: 376px) {
  #tools-flex {
    flex-direction: column;
    gap: 40px;
    padding: 3rem;
  }
}

@media (min-width: 576px) {
  #tools-flex {
    flex-direction: row;
  }
}

@media (min-width: 768px) {
  #tools-flex {
    flex-direction: row;
  }
}

@media (min-width: 992px) {
  #tools-flex {
    flex-direction: row;
  }
}

@media (min-width: 1200px) {
  #tools-flex {
    flex-direction: row;
  }
}

@media (min-width: 1400px) {
  #tools-flex {
    flex-direction: row;
  }
}

@media (min-width: 960px) {
  #root .md\:text-lg {
    font-size: 1.25rem !important;
  }
}

body {
  margin: 0;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navbar {
  box-shadow: none !important;
}

.MuiContainer-root {
  box-shadow: "0px 4px 8px 0px rgba(0, 0, 0, 0.05)" !important;
}

text-align {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.bg-image {
  height: inherit;
}

.image-cards {
  max-width: -webkit-fill-available;
  height: -webkit-fill-available;
  max-width: fit-content;
}

#cluster-container {
  max-width: -webkit-fill-available;
}

#contact-container {
  max-width: initial;
  max-height: 400px;
}

#cluster-img {
  width: -webkit-fill-available;
}

#cluster-gutter {
  --mdb-gutter-x: "unset !important";
}

#tools-flex {
  padding: 0.75rem;
}

#news-underline {
  /* padding-top: 2rem; */
  border-bottom: 1px solid black;
}

#logo-img {
  max-width: 100%;
  height: 50px;
}

#logokmutt-img {
  max-width: 100%;
  height: 60px;
}

/* Carousel  */
#carousel-nav {
  margin-top: -66px;
  z-index: -1;
}

/* .carousel-root {
  margin-top: -146px;
  z-index: -1;
} */

/* .control-dots {
  top: 88%;
} */

.carousel-wrapper {
  position: relative;
}

.carousel-wrapper .carousel .carousel-status {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

#greyscale-img {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

#footer-bg {
  /* background-color: #1e1e1e; */
}

.css-18sg6k4-MuiPaper-root-MuiDrawer-paper {
  background-color: rgba(255, 255, 255, 0.75) !important;
  height: 450px !important;
}

.menu-row {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  height: -webkit-fill-available;
  text-align: center;
}

.css-6hp17o-MuiList-root-MuiMenu-list {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.carousel-indicators [data-mdb-target] {
  height: 0.5rem !important;
  width: 0.5rem !important;
  border-radius: 50%;
  background-color: rgb(176, 176, 176) !important;
}

a:hover {
  color: white;
}

.image-container {
  position: relative;
  display: inline-block;
}

.image-container img {
  filter: grayscale(100%);
  transition: filter 0.5s ease-in-out;
}

.image-container:hover img {
  filter: grayscale(0%);
}

.image-container .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  /* background-color: ); */
  background-color: "rgba(251, 251, 251, 0.2)";
}

.image-container:hover .overlay {
  opacity: 1;
}

.navlink-color {
  color: inherit !important;
}

.page-item {
  padding: 0 5px;
}

.css-r8u8y9 {
  padding: 0px !important;
}

.css-19r6kue-MuiContainer-root {
  /* padding-left: 1rem !important;
  padding-right: 1rem !important; */
  padding: 0px !important;
}

.card-img,
.card-img-top,
.card-img-bottom {
  /* width: -webkit-fit-content !important; */
}

#image-container {
  width: 100% !important;
  max-width: 100% !important;
}

.searchBox {
  position: absolute;
  top: 21%;
  right: 14%;
  transform: translate(-0%, 20%);
  background: transparent;
  height: 60px;
  border-radius: 40px;
  padding: 10px;
  /* transition: 0.4s; */
}

.searchBox:hover {
  background: white;
  /* transition: 0.4s; */
}

.searchBox:hover > .searchInput {
  width: 300px;
  padding-left: 1rem;
}

.searchBox:hover > .searchButton {
  /* background: white; */
  color: #2f3640;
}

.searchButton {
  /* color: white; */
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}

.searchInput {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  /* color: white; */
  font-size: 16px;
  transition: 0.4s;
  line-height: 40px;
  width: 0px;
  cursor: default;
}

.searchInput.hovered {
  cursor: text;
}

.max-w-screen-1920 {
  max-width: 1920px !important;
}

/* Mobile Searchbox  */
.searchBox2 {
  position: absolute;
  top: 20%;
  right: 11%;
  transform: translate(-0%, 169%);
  background: transparent;
  height: 60px;
  border-radius: 40px;
  padding: 10px;
  /* transition: 0.4s; */
}

/* Tool Carousel Icon  */
.react-multiple-carousel__arrow--left {
  left: calc(45% + 1px) !important;
  padding-top: 0.4rem;
  padding-left: 0.8rem;
}

.react-multiple-carousel__arrow--left > svg {
  display: none;
}

.react-multiple-carousel__arrow--right {
  right: calc(45% + 1px) !important;
  padding-top: 0.4rem;
  padding-left: 1rem;
}

.react-multiple-carousel__arrow--right > svg {
  display: none;
}

.react-multiple-carousel__arrow {
  /* padding-top: 0.4rem;
  padding-left: 0.8rem; */
}

@media (min-width: 1400px) {
  .container {
    /* max-width: 1600px !important; */
  }
}

.desktop-width {
  max-width: 1600px !important; /* Adjust this value to match your desired desktop width */
  margin-left: auto;
  margin-right: auto;
}

#footerpadding {
  padding: 2rem 3rem 2rem 3rem !important;
}

@tailwind components;
@tailwind utilities;
